.App {
  text-align: center;
  color: rgb(224, 199, 183);
}

div,
input,
button,
h1,
form {
  position: relative;
  color: white;
  min-width: min-content;
  width: auto;
  max-width: 80%;
  min-height: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0.5rem auto 0.5rem auto;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.267);
  box-sizing: border-box;
}

h1 > p {
  font-size: 1rem;
  color: rgb(48, 80, 90);
  text-shadow: none;
}

h1 {
  text-align: center;
  min-width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}

form {
  display: flex;
  border-style: none;
  max-width: auto;
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgba(66, 199, 99, 0.096);
}

button {
  position: relative;
  color: black;
  min-width: fit-content;
  float: right;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

div > button {
  right: 0;
  top: -0.15rem;
  min-width: 1.5rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0 0 0.4rem;
}

h1 {
  color: rgb(72, 158, 216);
  text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.467);
  border-style: none;
  background-color: rgba(66, 199, 99, 0.096);
}

div div div {
  border-style: none;
  margin: auto;
  margin-bottom: 0.8rem;
  max-width: 40rem;
  min-width: 15rem;
  background: linear-gradient(
    to top right,
    rgb(215, 210, 216),
    rgb(177, 210, 216)
  );
  color: black;
  box-sizing: border-box;
}

.show {
  animation: 0.8s ease-in rotateIn;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

.hide {
  animation: 0.8s ease-out rotateOut;
  animation-fill-mode: forwards;
}

.hide:-moz-drag-over {
  border: 1px solid red;
}

.items {
  border: 1px solid green;
}

form + div {
  background-color: rgba(66, 199, 99, 0.096);
  max-width: 100%;
  width: 80%;
  perspective: 500px;
}

input {
  background-color: rgba(66, 199, 99, 0.253);
  color: black;
  outline: none;
  margin-right: 0.5rem;
  width: 100%;
  max-width: 100%;
}

input:focus,
input:hover {
  border-style: 1px solid red;
  background: rgb(223, 222, 179);
}

button:hover {
  background-color: darkgrey;
}

*:focus {
  outline: none;
}

*:hover {
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
}

/* shadow parameters: offset-x offset-y blur-radius spread-radius color */
/* text-shadow parameters: offset-x offset-y blur-radius color */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: linear-gradient(red, orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-dialog {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 2;
  opacity: 1;
  background: rgba(0, 0, 0, 0.767);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 20rem;
  min-height: 30rem;
  background-color: white;
  color: white;
  transform: translate(-50%, -50%);
}

body {
  background: linear-gradient(
    to top right,
    rgb(148, 95, 161),
    rgb(62, 129, 141)
  );
  min-height: calc(100vh - 1rem);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

@keyframes rotateIn {
  0% {
    transform: rotateY(90deg) scale(0);
    max-height: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  25% {
    transform: rotateY(90deg) scale(1);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotateOut {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateY(90deg) scale(0);
    max-height: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}
